<!-- 403.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Access Forbidden </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="{% static 'primarystyle.css' %}">
</head>

<div class="header">
    <h1 class="headertext border" >ACCESS FORBIDDEN</h1>
</div>

<body>
    <div style="text-align: center;">
        <br>
        <br>
        <br>
        <br>
        <p class="bodytext"> You don't have permission to view this page. </p>
        <p class="bodytext"> If you believe you should be able to view this page,
            speak to your admin about raising your privilege level. </p>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>

<div class="footer">
    <p class="bodytext"><a class="bodytext" href="/">home</a></p>
</div>

</html>