{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
  <link rel="stylesheet" href="{% static 'primarystyle.css' %}">
</head>
<body>

<div class="header">
  <h1 class="headertext border" >Airlines</h1>
</div>

<ul>
  {% for airline in myairlines %}
    <li class="bodytext">{{ airline.name }}
      associated airplanes: 
      {% for airplane in airline.airplanes.all %}
        <p>{{ airplane }},</p> 
      {% endfor %}
      associated airports: 
      {% for airport in airline.airports.all %}
        <p>{{ airport }},</p> 
      {% endfor %}
      <br>
    </li>
  {% endfor %}
</ul>

<a href="/addairline">
  <i class="glyphicon glyphicon-plus"></i>
</a>
<br>
<a href="/deleteairline">
  <i class="glyphicon glyphicon-trash"></i>
</a>
<br>
<br>
<br>

<div class="footer">
  <p class="bodytext"><a class="bodytext" href="/">home</a></p>
</div>

</body>
</html>