{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
  <link rel="stylesheet" href="{% static 'primarystyle.css' %}">
</head>
<body>

<div class="header">
  <h1 class="headertext border" >Airports</h1>
</div>

<ul>
  {% for airport in myairports %}
    <li class="bodytext"> {{ airport.name }}, location: {{ airport.location }}
    </li>
  {% endfor %}
</ul>

<br>
<a href="/addairport">
  <i class="glyphicon glyphicon-plus"></i>
</a>
<br>
<a href="/deleteairport">
  <i class="glyphicon glyphicon-trash"></i>
</a>
<br>
<br>
<br>

<div class="footer">
  <p class="bodytext"><a class="bodytext" href="/">home</a></p>
</div>

</body>
</html>