<!-- deletegate.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Delete Gate </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="{% static 'primarystyle.css' %}">
</head>

<div class="header">
    <h1 class="headertext border" >Delete Gate by ID#</h1>
</div>

<body>
    <p class="bodytext">{{ msg }}</p>
    <form method="post">
        {% csrf_token %}
        <input id="gate_id" type="text" name="gate_id">
        <button type="submit">Delete Gate</button>
    </form>

    <br>
    <br>
    <br>
</body>

<div class="footer">
    <p class="bodytext"><a class="bodytext" href="/gatedisplay">back</a></p>
</div>

</html>
