<!-- templates/registration/login.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
<link rel="stylesheet" href="{% static 'primarystyle.css' %}">
</head>
<body>

<div class="header">
  <h1 class="headertext border" >Login</h1>
</div>

<br>

{% block content %}
<form method="post" class="formstyle">
  {% csrf_token %}
  {{ form.as_p }}
  <br>
  <button type="submit">Login</button>
</form>
{% endblock %}


</body>