<!-- templates/registration/logged_out.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
<link rel="stylesheet" href="{% static 'primarystyle.css' %}">
</head>
<body>

<div class="header">
  <h1 class="headertext border" >Successfully Logged Out!</h1>
</div>

<br>
<br>
<h2 class="bodytext">You have been logged out</h2>
<p class="bodytext">Thank you for visiting.</p>
<br>
<br>

</body>

<div class="footer">
  <p class="bodytext"><a class="bodytext" href="/accounts/login">login</a></p>
</div>
